body{
    color: hsl(292, 42%, 14%);
    cursor: default;
    padding-top: 50px;
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
    background-image: url(../../assets/images/background-pattern-mobile.svg);
    background-repeat: no-repeat;
    background-color: hsl(275, 100%, 97%);
}

hr{
    margin-top: 20px;
}

.attribution {
    margin-top: 50px;
    font-size: 11px; 
    text-align: center;
}

.attribution > a{ 
    color: hsl(228, 45%, 44%); 
}

.faq{
    width: 310px;
    background-color: hsl(0, 0%, 100%);
    padding: 20px;
    border-radius: 10px;
    margin: auto;
}

.faq-title{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.faq-title > img{
    margin-right: 10%;
    height: 30px;
}

.faq-questions > ul{
    list-style: none;
}

.faq-questions > ul > li{
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
}

.faq-question{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.faq-question-title{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.faq-question-title > h2{
    margin-right: 12%;
    font-size: 18px;
}

.faq-question-title>h2:focus,
.faq-question-title>h2:hover{
    color: #AD28EB;
}



.faq-question>p {
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s ease;
    font-size: 16px;
    color: hsl(292, 16%, 49%);
}

.faq-question>p.active{
    margin-top: 20px;
    max-height: 400px;
}

@media only screen and (min-width: 375px) {

    body{
        background-image: url(../../assets/images/background-pattern-desktop.svg);
    }
    .faq{
        width: 80%;
    }

}

@media only screen and (min-width: 700px) {
    .faq{
        width: 600px;
    }
}

@media only screen and (min-width: 1440px) {

    body{
        background-size: contain;   
    }

}